<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @friend.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @friend.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @friend.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @friend.phone %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @friend.twitter %>
</p>
<p>
  <strong>DOB:</strong>
  <%= @friend.dob %>
</p>
<p>
  <strong>image:</strong>
  <div style="width:400px; height:auto">
     <%= image_tag(@friend.image, style:'width:100%') %>
  </div>
</p>
  

<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
